.contact {
  width: 100%;
  height: 70rem;
  padding: 10rem 0;
  background-color: $color-primary;

  background-image: linear-gradient(rgba($white, 0.7), rgba($white, 0.7)),
    url(../img/contact/contact-bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pin {
}
